[Unit]
Description=Filecrypt server app
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
User=daniel
ExecStart=/usr/bin/filecrypt_server

[Install]
WantedBy=multi-user.target
